@model Samaj_Kalyan.Areas.Admin.Models.SetupViewModel.PrincipaleConstantOfVolunteerViewModel

<div>
   

        @*<div class="row">
            <span class="col-md-6">
                <b>
                    @Html.DisplayNameFor(x => x.GA_Id)
                </b>
            </span>
            @Html.DisplayFor(x => x.GA_Id)
        </div>*@

    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.GAName)
            </b>
        </span>
        @Html.DisplayFor(x => x.GAName)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.PAName)
            </b>
        </span>
        @Html.DisplayFor(x => x.PAName)
    </div>

    @*<div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.PA_Id)
            </b>
        </span>
        @Html.DisplayFor(x => x.PA_Id)
    </div>*@

    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.Council_sRagistrationNumber)
            </b>
        </span>
        @Html.DisplayFor(x => x.Council_sRagistrationNumber)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.C_Council_sRagistrationDate)
            </b>
        </span>
        @Html.DisplayFor(x => x.C_Council_sRagistrationDate)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.C_Council_sRagistrationDate)
            </b>
        </span>
        @Html.DisplayFor(x => x.C_Council_sRagistrationDate)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.C_Council_sRagistrationDateNp)
            </b>
        </span>
        @Html.DisplayFor(x => x.C_Council_sRagistrationDateNp)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.NameOfAppicant)
            </b>
        </span>
        @Html.DisplayFor(x => x.NameOfAppicant)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.Country)
            </b>
        </span>
        @Html.DisplayFor(x => x.Country)
    </div>


    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.PassportNumber)
            </b>
        </span>
        @Html.DisplayFor(x => x.PassportNumber)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.VisaDuration)
            </b>
        </span>
        @Html.DisplayFor(x => x.VisaDuration)
    </div>

    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.ApplicationDesingation)
            </b>
        </span>
        @Html.DisplayFor(x => x.ApplicationDesingation)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.ApplicationSector)
            </b>
        </span>
        @Html.DisplayFor(x => x.ApplicationSector)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.Agreement)
            </b>
        </span>
        @Html.DisplayFor(x => x.Agreement)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.ServiceReciverNGOSName)
            </b>
        </span>
        @Html.DisplayFor(x => x.ServiceReciverNGOSName)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.DecisionDate)
            </b>
        </span>
        @Html.DisplayFor(x => x.DecisionDate)
    </div>

    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.DecisionDateNp)
            </b>
        </span>
        @Html.DisplayFor(x => x.DecisionDateNp)
    </div>
    <div class="row">
        <span class="col-md-6">
            <b>
                @Html.DisplayNameFor(x => x.Remarks)
            </b>
        </span>
        @Html.DisplayFor(x => x.Remarks)
    </div>
        </div>


