@model Samaj_Kalyan.Areas.Admin.Models.SetupViewModel.PrincipaleConstantOfVolunteerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/SharedLayout.cshtml";
    int counter = 1;
}
<link href="~/Styles/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<div>
    @Html.ActionLink("Add", "InsertUpdatePCV", null, new { @class = "btn btn-md btn-primary pull-right" })
</div>


<div class="table-responsive">
    <table class="table table-hover" id="patable">
        <thead>
            <tr>
                <th>
                    Sn
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GA_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PA_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Council_sRagistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.C_Council_sRagistrationDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.NameOfAppicant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PassportNumber)
                </th>


                <th></th>
            </tr>
        </thead>
<tbody>
    @foreach (var item in Model.PrincipaleConstantOfVolunteerViewModelList)
{
    <tr id="row-@item.VolunteerID">
        <td>
            @counter
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GAName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Council_sRagistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_Council_sRagistrationDate)
        </td>

        <td>
           
            <a id="@item.VolunteerID" class="agent-name" href='@Url.Content("~/Admin/PrincipaleConstantOfVolunteer/InsertUpdatePCV?id=" + item.VolunteerID)'><i class="fa fa-edit"></i> @item.NameOfAppicant</a>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassportNumber)
        </td>



        <td>

            <div class="row">

                <div class="col-sm-6">
                    <a href="#javascript:void(0)" class="btn btn-primary detail  " id="detail_@item.VolunteerID" data-toggle="modal" data-target="#CommonModal">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        <strong>Details</strong>
                    </a>
                </div>
                <div class="col-md-6">
                    <input type="button" value="Delete" class="btn btn-danger" onclick="remove(@item.VolunteerID)">
                </div>



            </div>
    </tr>
    counter++;
}


</tbody>
          <tfoot>
              <tr>
                  <th>
                      Sn
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.GA_Id)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.PA_Id)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Council_sRagistrationNumber)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.C_Council_sRagistrationDate)
                  </th>

                  <th>
                      @Html.DisplayNameFor(model => model.NameOfAppicant)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Country)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.PassportNumber)
                  </th>


                  <th></th>
              </tr>
          </tfoot>

        </table>
    </div>

<div class="modal fade" id="CommonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="CommonMC"></div>
        </div>
    </div>
</div>
@{if (true)
{
    if (TempData["SuccessMsg"] != null)
    {
        <script>

            function getCookie(cname) {
                debugger;
                var name = cname + "=";
                console.log(document.cookie);
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            if(getCookie('insert')!=""){
                debugger;
                // alert('asdasd')
                swal("Success!", "Data Saved", "success");
            }
            else
            {
                //alert('a')
            }


        </script>
    }

}

}


<script>


    function remove(clientId) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover your profile!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete)=>{
            debugger;
        if (willDelete) {
            $.ajax({
                type: "POST",
                data: {
                    id: clientId
                },
                url: "/PrincipaleConstantOfVolunteer/delete",
                dataType: "json",
                success: function (response) {

                    swal("Poof! Your profile has been deleted!", {
                        icon: "success",
                    });
                    $("#row-"+clientId).remove();
                    //swal({
                    //    title: "Poof! you are deleted",

                    //    icon: "success",
                    //    buttons: true,

                    //}).then((success)=>{
                    //    location.reload();
                    //});
                }
            })
        }
    });
    }



    //function remove(clientId) {
    //    swal({
    //        title: "Are you sure?",
    //        text: "Once deleted, you will not be able to recover your profile!",
    //        icon: "warning",
    //        buttons: true,
    //        dangerMode: true,
    //    },(willDelete)=>{
    //        debugger;
    //    if (willDelete) {
    //        $.ajax({
    //            type: "POST",
    //            data: {
    //                id: clientId
    //            },
    //            url: "/GeneralAgrement/delete",
    //            dataType: "json",
    //            success: function (response) {
    //                debugger;
    //                swal("Poof! Your profile has been deleted!", {
    //                    icon: "success",
    //                },
    //                function () {
    //                    window.location.href = "/GeneralAgrement/Index"
    //                });


    //            }
    //        });
    //    }
    //}
    //);
    //};




    $('.detail').click(function () {
        var href = '@Url.Content("~/Admin/PrincipaleConstantOfVolunteer/Details")';
        $('#CommonModalLabel').html("Details")
        var id = $(this).attr('id');
        debugger;
        $.ajax({
            url: href,
            data: { id: id.substr(id.indexOf("_") + 1) },
            success: function (result) {
                if (result) {
                    debugger;
                    $('#CommonMC').html(result);
                }
            },
            error: function () {
                alert('error in calling ajax !!')
            }
        });
    })

</script>

<script>
    $(document).ready(function () {
        // swal("Oops", "Something went wrong!", "error")
        // Setup - add a text input to each footer cell





        $('#patable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="' + title + ' "/>');
        });

        // DataTable
        var table = $('#patable').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
        //$('#getable').DataTable();
    });





</script>